:root {
  --lightblue: rgb(137, 137, 222);
  --blue: blue;
  --white: #fff;
  --black: #000;
  --dark: #333;
  --shadow: rgba(0, 0, 0, 0.1);
  --lightgray: #dee2e6;
  --light: rgb(222, 234, 244);
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 30px auto;
  box-shadow: 0 4px 12px var(--shadow);
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
}
caption {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--blue);
  padding: 15px 0;
  border-bottom: 2px solid var(--lightblue);
}
thead {
  background-color: var(--lightblue);
  color: var(--white);
}
th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid;
}
th {
  font-weight: 600;
}
tbody tr:nth-child(even) {
  background-color: var(--light);
}
tbody tr:hover {
  background-color: var(--lightgray);
  cursor: pointer;
}
tfoot {
  background-color: var(--dark);
  color: var(--white);
}

col.col-id {
  width: 5%;
}
col.col-product {
  width: 25%;
}
col.col-region {
  width: 20%;
}
col.col-sales {
  width: 20%;
}
col.col-revenue {
  width: 20%;
}
col.col-notes {
  width: 10%;
}
